<nz-card class="card-mapa">
  <div #contenedorMapaFullscreen class="contenedor-mapa-completo">
    <div class="mapa-toolbar-superior">
      <div class="campo-inline campo-mapa-select">
        <lib-etiqueta
          [etiqueta]="'Vista del mapa'"
          [bold]="false"
          [obligatorio]="false"
        />
        <lib-input-select
          [(valor)]="mapaSeleccionado"
          [elementos]="tiposMapa"
          [ocultarNoActivos]="false"
          [campo]="'descripcion'"
          [campoOrden]="'descripcion'"
          (valorChange)="cambiarMapa($event)"
        />
      </div>

      <div class="campo-inline campo-coordenada">
        <lib-etiqueta
          [etiqueta]="'Latitud'"
          [bold]="false"
          [obligatorio]="false"
        />
        <lib-input
          [(valor)]="latitud"
          (cambioChange)="onCoordenadasEditadas()"
          [tipo]="'number'"
        />
      </div>

      <div class="campo-inline campo-coordenada">
        <lib-etiqueta
          [etiqueta]="'Longitud'"
          [bold]="false"
          [obligatorio]="false"
        />
        <lib-input
          [(valor)]="longitud"
          (cambioChange)="onCoordenadasEditadas()"
          [tipo]="'number'"
        />
      </div>

      <div class="acciones-mapa">
        <lib-boton
          (click)="aplicarCoordenadas()"
          [titulo]="'Ir a coordenadas'"
        />
        <lib-boton
          (click)="toggleFullscreenMapa()"
          [titulo]="mapaFullscreen ? 'Salir de pantalla completa' : 'Maximizar mapa'"
        />
      </div>
    </div>

    <div #mapa class="mapa-contenedor"></div>
  </div>
</nz-card>
