<nz-form-item>
  <nz-form-control [nzErrorTip]="errorLabel | i18n">
    <nz-input-group [nzSuffix]="suffixTemplate" [nzSize]="size">
      <input
        nz-input
        type="text"
        [nzSize]="size"
        [formControl]="control"
        [type]="passwordOculto ? 'text' : 'password'"
        [placeholder]="placeholder | i18n"
        (focusout)="cambiar()"
        (change)="cambiar()"
      />
      <ng-template #suffixTemplate>
        <i nz-icon style="color: #ccc" [nzType]="passwordOculto ? 'eye-invisible' : 'eye'" (click)="passwordOculto = !passwordOculto"></i>
      </ng-template>
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
