<nz-row>
  <nz-col [nzSpan]="24" style="display: flex; justify-content: center">
    <img width="280" src="./assets/logos/logo.png" alt="Setalia" />
  </nz-col>
</nz-row>

<nz-card class="login-card">
  <nz-row>
    <nz-col [nzSpan]="24">
      <h2>{{ 'app.contrasenyaCaducada' | i18n }}</h2>
    </nz-col>
  </nz-row>

  <nz-row class="margin-top-md">
    <nz-col [nzSpan]="24">
      <p>{{ 'app.textContrasenyaCaducada' | i18n }}</p>
    </nz-col>
  </nz-row>

  <div>
    <nz-row>
      <nz-col [nzOffset]="8" [nzSpan]="16">
        <lib-alertas [errorFormulario]="errorFormulario" [errorFormularioText]="errorFormularioText" [tipo]="'error'"> </lib-alertas>
      </nz-col>
    </nz-row>

    <lib-formularios
      [formulario]="formulario"
      [(estado)]="formularioValid"
      [listasValores]="listasValores"
      [(modelo)]="model"
      (cambioValores)="datosValidos()"
    >
    </lib-formularios>
  </div>

  <nz-row class="margin-top-md">
    <nz-col class="flex-end-center" [nzOffset]="8" [nzSpan]="16">
      <lib-boton (click)="guardar()" [type]="'primary'" [disabled]="!formularioValid || !validacionCorrecta" [titulo]="'app.guardar'"> </lib-boton>
    </nz-col>
  </nz-row>

  <nz-row class="margin-top-md">
    <nz-col [nzSpan]="24">
      <app-requisitos-contrasenya #requisitos></app-requisitos-contrasenya>
    </nz-col>
  </nz-row>

</nz-card>
