.textarea-disabled {
  cursor: auto;
  opacity: 1;
  color: rgba(0, 0, 0, 0.25);
  font-size: 10px;
  background-color: #d9d9d9 !important;
  border-radius: 0px !important;
  min-height: 32px;
  width: 100%;
  padding: 0px 7px;
  line-height: 30px;

  &:not(:hover) {
    border: 10px !important;
    cursor: initial !important;
  }

  &:hover {
    border: 10px !important;
    cursor: initial !important;
  }
}
