.margin-no {
  margin: 0px !important;
}

.margin-top-xs {
  margin-top: 3px;
}

.margin-top-sm {
  margin-top: 8px;
}

.margin-top-df {
  margin-top: 10px;
}

.margin-top-md {
  margin-top: 13px;
}

.margin-top-lg {
  margin-top: 16px !important;
}

.margin-top-xlg {
  margin-top: 20px;
}

.margin-bottom-xs {
  margin-bottom: 3px;
}

.margin-bottom-sm {
  margin-bottom: 8px;
}

.margin-bottom-df {
  margin-bottom: 10px;
}

.margin-bottom-md {
  margin-bottom: 13px;
}

.margin-bottom-lg {
  margin-bottom: 16px;
}

.margin-bottom-xlg {
  margin-bottom: 20px;
}

.margin-left-xs {
  margin-left: 3px;
}

.margin-left-sm {
  margin-left: 8px;
}

.margin-left-df {
  margin-left: 10px;
}

.margin-left-md {
  margin-left: 13px;
}

.margin-left-lg {
  margin-left: 16px;
}

.margin-left-xlg {
  margin-left: 20px;
}

.margin-right-xs {
  margin-right: 3px;
}

.margin-right-sm {
  margin-right: 8px;
}

.margin-right-df {
  margin-right: 10px;
}

.margin-right-md {
  margin-right: 13px;
}

.margin-right-lg {
  margin-right: 16px;
}

.margin-right-xlg {
  margin-right: 20px;
}

.margin-xs {
  margin: 3px;
}

.margin-sm {
  margin: 8px;
}

.margin-df {
  margin: 10px;
}

.margin-md {
  margin: 13px;
}

.margin-lg {
  margin: 16px;
}

.margin-xlg {
  margin: 20px;
}

/* PADDINGS */
.padding-top-xs {
  padding-top: 3px;
}

.padding-top-sm {
  padding-top: 8px;
}

.padding-top-df {
  padding-top: 10px;
}

.padding-top-md {
  padding-top: 12px;
}

.padding-top-lg {
  padding-top: 16px;
}

.padding-top-xlg {
  padding-top: 20px;
}

.padding-bottom-xs {
  padding-bottom: 3px;
}

.padding-bottom-sm {
  padding-bottom: 8px;
}

.padding-bottom-df {
  padding-bottom: 10px;
}

.padding-bottom-md {
  padding-bottom: 13px;
}

.padding-bottom-lg {
  padding-bottom: 16px;
}

.padding-bottom-xlg {
  padding-bottom: 20px;
}

.padding-left-xs {
  padding-left: 3px;
}

.padding-left-sm {
  padding-left: 8px;
}

.padding-left-df {
  padding-left: 10px;
}

.padding-left-md {
  padding-left: 13px;
}

.padding-left-lg {
  padding-left: 16px;
}

.padding-left-lg-x2 {
  padding-left: 32px;
}

.padding-left-xlg {
  padding-left: 20px;
}

.padding-left-xlg35 {
  padding-left: 35px;
}

.padding-right-xs {
  padding-right: 3px;
}

.padding-right-sm {
  padding-right: 8px;
}

.padding-right-df {
  padding-right: 10px;
}

.padding-right-md {
  padding-right: 13px;
}

.padding-right-lg {
  padding-right: 16px;
}

.padding-right-xlg {
  padding-right: 20px;
}

.padding-xs {
  padding: 3px;
}

.padding-sm {
  padding: 8px;
}

.padding-df {
  padding: 10px;
}

.padding-md {
  padding: 13px;
}

.padding-lg {
  padding: 16px;
}

.padding-xlg {
  padding: 20px;
}

.centrar-contenido {
  display: flex;
  align-items: center;
}

.centrar-contenido-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-gap-xs {
  gap: 4px;
}

.flex-gap-sm {
  gap: 8px;
}

.flex-gap-df {
  gap: 10px;
}

.flex-gap-md {
  gap: 12px;
}

.flex-gap-lg {
  gap: 16px;
}

.flex-gap-xlg {
  gap: 20px;
}
