:host ::ng-deep {
  .container {
    display: flex;
    align-items: center;
    min-height: 100%;
    background: #2a3f5c;
  }

  .login {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 10vh;
    //flex: 1;
  }
}
