@import 'src/styles/color';

.sidebar {
  padding: 10px;
  background-color: #79DBDC80;
  backdrop-filter: blur(20px);
  color: white;
  height: calc(100vh - 32px) !important;
  transition:
    width 0.2s cubic-bezier(0.25, 0, 0.15, 1),
    translate 0.2s cubic-bezier(0.25, 0, 0.15, 1);
}
