<div class="card altura">
  <app-skelteon *ngIf="loading" [files]="15"></app-skelteon>

  <div class="buscador-paginacion" *ngIf="!loading">
    <lib-tabla-botonera-principal
      [mostrarFiltro]="false"
      [mostrarExportar]="false"
      [titulo]="'bitacora'"
      [(maximizado)]="maximizado"
      [permisos]="'MODULO_BITACORA_EDICION'"
      (refrescarFiltrosEvent)="limpiarFiltros()"
    />

    <div class="contenedor tabla">
      <nz-table #basicTable [nzLoading]="loading" [nzPageSize]="10000" [nzHideOnSinglePage]="true" [nzData]="elementos">
        <lib-columnas-tablas
          *ngIf="!loading"
          [ordenLocal]="true"
          [(columnas)]="columnas"
          [listasValores]="listasValores"
          [elementos]="elementos"
          (buscarEvent)="filtrar()"
        />

        <tbody>
          <tr *ngFor="let dato of basicTable.data; index as i" (click)="editarElemento(dato.id)" class="pointer">
            <td>{{ dato.fecha  | date: 'dd/MM/yyyy'  }}</td>
            <td>{{ dato.titulo }}</td>
            <td>{{ dato.provinciaDescripcion }}</td>
            <td>{{ dato.municipioDescripcion }}</td>
            <td>{{ dato.setaNombreCientifico }}</td>
            <td class="text-center">
              <i class="icono-tabla" nz-icon nzType="delete" (click)="eliminar(dato.id); $event.stopPropagation()"></i>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <lib-tabla-botonera-secundaria
      [loading]="loading"
      [filtros]="filtros"
      [ocultarPaginacion]="false"
      (nuevoEvent)="nuevoElemento()"
      [tituloNuevo]="'app.nuevo'"
      (filtrar)="filtrarPaginacion($event)"
    />
  </div>
</div>
