<div class="card altura">
  <app-skelteon *ngIf="loading" [files]="15"></app-skelteon>

  <div class="buscador-paginacion" *ngIf="!loading">
    <lib-tabla-botonera-principal
      [mostrarFiltro]="false"
      [mostrarExportar]="false"
      [titulo]="'configuracion.permisos'"
      [permisos]="'MODULO_CONFIGURACION_PERMISOS_EDICION'"
      (refrescarFiltrosEvent)="limpiarFiltros()"
    />

    <div class="contenedor tabla">
      <nz-table #basicTable [nzLoading]="loading" [nzShowPagination]="false" nzTableLayout="fixed" [nzData]="rolsFiltrats">
        <lib-columnas-tablas *ngIf="!loading" [ordenLocal]="true" [(columnas)]="columnas" [listasValores]="listasValores" [elementos]="rolsFiltrats" (buscarEvent)="filtrar()" />
        <tbody>
          <ng-container *ngFor="let dada of basicTable.data; index as i">
            <tr class="pointer">
              <td>
                <i nz-icon nzType="plus-circle" class="icon-tabla" *ngIf="!dada.expand" (click)="expandir(dada)"></i>
                <i nz-icon nzType="minus-circle" class="icon-tabla" *ngIf="dada.expand" (click)="expandir(dada)"></i>
              </td>
              <td (click)="editarElemento(dada)">{{ dada.descripcion }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-center">
                <i class="icon-tabla" [acl]="'MODULO_CONFIGURACION_PERMISOS_EDICION'" nz-icon nzType="delete"
                (click)="eliminarRol(dada.id)"></i>
              </td>
            </tr>
  
            @if (dada.expand) {
              <tr *ngFor="let permiso of dada.detalles" style="background-color: #fbfbfb; cursor: pointer">
                <td></td>
                <td></td>
                <td>{{ permiso.moduloDescripcion }}</td>
                <td>{{ permiso.permisoDescripcion }}</td>
                <td><lib-input-checkbox [(valor)]="permiso.consulta" [etiqueta]="''" (cambioValor)="guardar(permiso)" /></td>
                <td><lib-input-checkbox [(valor)]="permiso.edicion" [etiqueta]="''" (cambioValor)="guardar(permiso)" /></td>
                <td></td>
              </tr>
            }
          </ng-container>
        </tbody>
      </nz-table>
    </div>

    <lib-tabla-botonera-secundaria
      [loading]="loading"
      [filtros]="filtros"
      [ocultarPaginacion]="false"
      (nuevoEvent)="nuevoElemento()"
      [tituloNuevo]="'configuracion.nuevoRol'"
      (filtrar)="filtrarPaginacion($event)"
    />
  </div>
</div>

<app-drawer-edicion-rol #drawerRol (refrescarEvent)="refrescarDatos()" />